<h1>App name: <%= @registered_application.name %> </h1>
<h2>App URL:  <%= @registered_application.url %></h2>
<div>
  <%= button_to 'Un-register App', @registered_application, method: :delete %>
</div>
